@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./img/weather2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.degrees:after {
  content: "\00b0";
}
